# Домашнее задание «Функции и работа с данными»

In [1]:
import pandas as pd

## Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [2]:
df_films = pd.read_csv('ratings.csv')

In [3]:
df_films.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
def class_(param):
    if param <= 2:
        return 'низкий рейтинг'
    elif param <= 4:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

In [5]:
df_films['class'] = df_films['rating'].apply(class_)

In [6]:
df_films.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

## Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

1
2
3
4
5
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [8]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }
geo_data

{'Центр': ['москва', 'тула', 'ярославль'],
 'Северо-Запад': ['петербург', 'псков', 'мурманск'],
 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [9]:
df_geo = pd.read_csv('keywords.csv')

In [10]:
df_geo.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [94]:
# решение в лоб
def geo_check(param):
    for i in param.split():
        for k, j in geo_data.items():
            if i in j:
                return k
    return 'none'

In [95]:
# не нашел как увязать функции map и filter, хотя может быть и нельзя
def geo_check_(param):
    for i in param.split():
        try:
            return list(dict(filter(lambda log: i in log[1], geo_data.items())).keys())[0]
        except:
            return 'none'

In [96]:
df_geo['region'] = df_geo['keyword'].apply(geo_check_)

In [97]:
df_geo.head()

         keyword     shows region
0             вк  64292779   none
1  одноклассники  63810309   none
2          порно  41747114   none
3           ютуб  39995567   none
4      вконтакте  21014195   none

In [98]:
# проверяем - остальное none
df_geo[ df_geo['region'].isin(['Центр', 'Северо-Запад', 'Дальний Восток']) ].head(10)

                     keyword   shows          region
1259                  москва  153050           Центр
5858             владивосток   43038  Дальний Восток
5983       москва третий рим   43182           Центр
6075               ярославль   41720           Центр
6999               москва 24   37459           Центр
7103             москва сити   37022           Центр
7339  москва слезам не верит   35857           Центр
8132           москва погода  151701           Центр
8977                мурманск   29984    Северо-Запад
9084               хабаровск   29655  Дальний Восток

## Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [99]:
df_movie_rating = pd.read_csv('ratings.csv')

In [100]:
df_movie_rating.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [110]:
years = list(range(1950, 2011))
years[:5]

[1950, 1951, 1952, 1953, 1954]

In [105]:
df_movie = pd.read_csv('movies.csv')

In [106]:
df_movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [107]:
import re

In [113]:
row_ = pd.DataFrame( {'userId' : [1],
                      'movieId' : [31],
                      'rating' : [2.5],
                      'timestamp' : ['1260759144']
})
row_.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144

In [133]:
def production_year(row):
    
    title_ = str(df_movie[ df_movie['movieId'] == row['movieId'] ]['title'])
    film_year = re.findall(r'\d{4}',title_)[0]
    if film_year in years:
        return film_year
    else:
        return '1900'

In [112]:
df_movie_rating['year'] = df_movie_rating.apply(production_year, axis=1)

IndexError: list index out of range