# Домашнее задание к лекции "Визуализация данных"

## Обязательная часть

Вам необходимо провести базовый [EDA](https://en.wikipedia.org/wiki/Exploratory_data_analysis) выбранного набора данных. 

Требования к анализу:
- построить не менее 4 визуализаций различных видов;
- каждая визуализация должным образом оформлена и читается даже в отрыве от контекста; 
- по каждой визуализации необходимо написать вывод (какую гипотезу на ее основе можно выдвинуть?).

**Откуда брать данные?**

Можете взять свои рабочие данные, либо найти открытые данные (например, на [kaggle.com](https://www.kaggle.com/)) по интересующей вас предметной области (тогда не забудьте их выложить на github вместе с ноутбуком). Если идей нет, можете взять один из перечисленных ниже:
- [данные приложений из Google Play](https://www.kaggle.com/lava18/google-play-store-apps);
- [данные о видео из трендов YouTube](https://www.kaggle.com/datasnaek/youtube-new);
- [данные об уровне счастья в разных странах](https://www.kaggle.com/unsdsn/world-happiness).

### Дополнительная часть (необязательная)

* построить дополнительно не менее 2 визуализаций (итого не менее 6);
* в работе должны присутствовать следующие визуализации: boxplot, heatmap, scatter plot matrix;

In [13]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('2019.csv')

In [4]:
df

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [6]:
df.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [ ]:
Общий рейтинг", "Страна или регион", "Оценка", "ВВП на душу населения",
"Социальная поддержка", "Ожидаемая продолжительность здоровой жизни",
"Свобода выбора в жизни", "Щедрость",
"Восприятие коррупции

In [7]:
df.value_counts()

Overall rank  Country or region    Score  GDP per capita  Social support  Healthy life expectancy  Freedom to make life choices  Generosity  Perceptions of corruption
1             Finland              7.769  1.340           1.587           0.986                    0.596                         0.153       0.393                        1
108           Venezuela            4.707  0.960           1.427           0.805                    0.154                         0.064       0.047                        1
101           Jordan               4.906  0.837           1.225           0.815                    0.383                         0.110       0.130                        1
102           Benin                4.883  0.393           0.437           0.397                    0.349                         0.175       0.082                        1
103           Congo (Brazzaville)  4.812  0.673           0.799           0.508                    0.372                         0.105       0.093                        1
                                                                                                                                                                         ..
53            Latvia               5.940  1.187           1.465           0.812                    0.264                         0.075       0.064                        1
54            South Korea          5.895  1.301           1.219           1.036                    0.159                         0.175       0.056                        1
55            Estonia              5.893  1.237           1.528           0.874                    0.495                         0.103       0.161                        1
56            Jamaica              5.890  0.831           1.478           0.831                    0.490                         0.107       0.028                        1
156           South Sudan          2.853  0.306           0.575           0.295                    0.010                         0.202       0.091                        1
Length: 156, dtype: int64

In [10]:
df.describe(include='all')

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
unique,NaN,156,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Costa Rica,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,78.500000,NaN,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603
std,45.177428,NaN,1.113120,0.398389,0.299191,0.242124,0.143289,0.095254,0.094538
min,1.000000,NaN,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,NaN,4.544500,0.602750,1.055750,0.547750,0.308000,0.108750,0.047000
50%,78.500000,NaN,5.379500,0.960000,1.271500,0.789000,0.417000,0.177500,0.085500
75%,117.250000,NaN,6.184500,1.232500,1.452500,0.881750,0.507250,0.248250,0.141250
max,156.000000,NaN,7.769000,1.684000,1.624000,1.141000,0.631000,0.566000,0.453000

In [26]:
df['Perceptions of corruption'].unique()

array([0.393, 0.41 , 0.341, 0.118, 0.298, 0.343, 0.373, 0.38 , 0.308,
       0.226, 0.29 , 0.093, 0.082, 0.316, 0.278, 0.31 , 0.265, 0.21 ,
       0.128, 0.036, 0.182, 0.151, 0.073, 0.183, 0.097, 0.056, 0.078,
       0.132, 0.167, 0.079, 0.054, 0.086, 0.15 , 0.453, 0.074, 0.03 ,
       0.11 , 0.014, 0.016, 0.05 , 0.24 , 0.042, 0.034, 0.057, 0.127,
       0.006, 0.005, 0.041, 0.087, 0.028, 0.064, 0.161, 0.06 , 0.14 ,
       0.096, 0.02 , 0.08 , 0.162, 0.027, 0.025, 0.098, 0.031, 0.107,
       0.039, 0.   , 0.152, 0.144, 0.022, 0.287, 0.101, 0.106, 0.024,
       0.142, 0.038, 0.023, 0.114, 0.076, 0.1  , 0.037, 0.004, 0.04 ,
       0.09 , 0.089, 0.13 , 0.055, 0.164, 0.047, 0.062, 0.066, 0.072,
       0.27 , 0.102, 0.113, 0.125, 0.053, 0.088, 0.138, 0.143, 0.052,
       0.045, 0.172, 0.01 , 0.135, 0.067, 0.085, 0.033, 0.18 , 0.141,
       0.077, 0.411, 0.147, 0.035, 0.091])

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB

In [29]:
df[df['Country or region'] == 'Russia']

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
67,68,Russia,5.648,1.183,1.452,0.726,0.334,0.082,0.031

In [34]:
df.to_excel('file1.xlsx')