# Домашнее задание к лекции "Базовые понятия статистики"

Будем осуществлять работу с непростым [набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) о состоянии здоровья лошадей, испытывающих кишечные колики. Цель – максимально корректно заполнить пропуски.

### Задание 1. Загрузка данных

Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names), загрузить его и оставить 8 столбцов для дальнейшего изучения: `surgery?`, `Age`, `rectal temperature`, `pulse`, `respiratory rate`, `temperature of extremities`, `pain`, `outcome`.

In [82]:
import pandas as pd
import numpy as np

In [83]:
names_col = ['surgery', 'Age', 'Hospital_Number', 'rectal_temperature', 'pulse', 'respiratory_rate', 
             'temperature_of_extremities', 'peripheral_pulse','mucous_membranes', 'capillary_refill_time', 'pain', 
             'peristalsis', 'abdominal_distension', 'nasogastric_tube', 'nasogastric_reflux', 'nasogastric_reflux_PH', 
             'rectal_examination_feces', 'abdomen', 'packed_cell_volume', 'total_protein', 'abdominocentesis_appearance', 
             'abdomcentesis_total_protein', 'outcome', 'surgical_lesion', 'type_of_lesion1', 'type_of_lesion2', 
             'type_of_lesion3','cp_data']

In [84]:
df = pd.read_csv('horse_data.csv', names = names_col, na_values='?')

In [85]:
df.head()

,surgery,Age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time,...,packed_cell_volume,total_protein,abdominocentesis_appearance,abdomcentesis_total_protein,outcome,surgical_lesion,type_of_lesion1,type_of_lesion2,type_of_lesion3,cp_data
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [86]:
df.columns

Index(['surgery', 'Age', 'Hospital_Number', 'rectal_temperature', 'pulse',
       'respiratory_rate', 'temperature_of_extremities', 'peripheral_pulse',
       'mucous_membranes', 'capillary_refill_time', 'pain', 'peristalsis',
       'abdominal_distension', 'nasogastric_tube', 'nasogastric_reflux',
       'nasogastric_reflux_PH', 'rectal_examination_feces', 'abdomen',
       'packed_cell_volume', 'total_protein', 'abdominocentesis_appearance',
       'abdomcentesis_total_protein', 'outcome', 'surgical_lesion',
       'type_of_lesion1', 'type_of_lesion2', 'type_of_lesion3', 'cp_data'],
      dtype='object')

surgery? - была ли операция - столбец
   1. = да, была операция, 
   2. = вылечено без операции

Age - возраст - столбец
   1. = Взрослая лошадь
   2. = Молодая (< 6 месяцев)

rectal temperature - ректальная температура
   - линейный
   - в градусах Цельсия.
   - Повышенная температура может возникнуть из-за инфекции.
   - температура может быть снижена, когда животное находится в состоянии позднего шока
   - нормальная температура составляет 37,8
   - этот параметр обычно меняется по мере прогрессирования проблемы
        например. может начинаться с нормы, затем повышаться из-за поражения, 
        возвращаясь в нормальный диапазон, когда лошадь впадает в шок.

pulse - пульс
   - линейный
   - частота сердечных сокращений в ударах в минуту
   - это отражение состояния сердца: 30 -40 - это нормально для взрослых
   - редко встречается показатель ниже нормы, хотя у спортивных лошадей этот показатель может составлять 20-25
   - у животных с болезненными повреждениями или страдающих от циркуляторного шока может быть повышенная частота сердечных сокращений.


respiratory rate- частота дыхания
   - линейный
   - нормальная скорость составляет от 8 до 10
   - полезность сомнительна из-за больших колебаний

temperature of extremities - температура конечностей
   - субъективный признак периферического кровообращения
   - возможные значения:
        1. = Нормальный
        2. = Теплый
        3. = Прохладный
        4. = Холодный
   - прохладные или холодные конечности указывают на возможный шок
   - горячие конечности должны коррелировать с повышенной температурой прямой кишки.

pain - боль
   - субъективное суждение об уровне боли лошади
   - возможные значения:
        1. = тревога, отсутствие боли
        2. = подавленный
        3. = перемежающаяся легкая боль
        4. = периодическая сильная боль
        5. = постоянная сильная боль
   - не следует рассматривать как упорядоченную или дискретную переменную!
   - В общем, чем болезненнее, тем больше вероятность того, что потребуется хирургическое вмешательство
   - предварительное лечение боли может в некоторой степени маскировать уровень боли

outcome - итог
    что в итоге случилось с лошадью?
   - возможные значения:
        1. = выжил
        2. = умер
        3. = был подвергнут эвтаназии

In [87]:
df_horse = df[['surgery', 'Age', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', 'pain',
               'outcome']]
df_horse.head()

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

In [88]:
df_horse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal_temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory_rate            242 non-null    float64
 5   temperature_of_extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

### Задание 2. Первичное изучение данных

Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

Качественные данные

- surgery? - была ли операция - столбец
- Age - возраст - столбец
- temperature of extremities - температура конечностей
- pain - боль
- outcome - итог что в итоге случилось с лошадью?

Количественные данные

- rectal temperature - ректальная температура
- pulse - пульс
- respiratory rate- частота дыхания

для качественных данных базовые статистические показатели не имеют смысла.
имеет смысл только для количественных данных.

In [89]:
df_horse.describe()

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [90]:
print('Максимумы')
df_horse[['rectal_temperature','pulse', 'respiratory_rate']].max()

Максимумы

rectal_temperature     40.8
pulse                 184.0
respiratory_rate       96.0
dtype: float64

In [91]:
print('Минимумы')
df_horse[['rectal_temperature','pulse', 'respiratory_rate']].min()

Минимумы

rectal_temperature    35.4
pulse                 30.0
respiratory_rate       8.0
dtype: float64

In [92]:
print('Размахи')
df_horse[['rectal_temperature','pulse', 'respiratory_rate']].max() - df_horse[['rectal_temperature','pulse', 'respiratory_rate']].min()

Размахи

rectal_temperature      5.4
pulse                 154.0
respiratory_rate       88.0
dtype: float64

In [93]:
print('Среднеарифметические')
df_horse[['rectal_temperature','pulse', 'respiratory_rate']].mean()

Среднеарифметические

rectal_temperature    38.167917
pulse                 71.913043
respiratory_rate      30.417355
dtype: float64

In [94]:
print('Моды, в том числе для качественных данных')
df_horse.round().mode()

Моды, в том числе для качественных данных

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
0,1.0,1,38.0,48.0,20.0,3.0,3.0,1.0

In [95]:
print('Медианы')
df_horse[['rectal_temperature','pulse', 'respiratory_rate']].median()

Медианы

rectal_temperature    38.2
pulse                 64.0
respiratory_rate      24.5
dtype: float64

In [96]:
print('СКО')
df_horse[['rectal_temperature','pulse', 'respiratory_rate']].std()

СКО

rectal_temperature     0.732289
pulse                 28.630557
respiratory_rate      17.642231
dtype: float64

In [97]:
print('Дисперсии')
df_horse[['rectal_temperature','pulse', 'respiratory_rate']].var()

Дисперсии

rectal_temperature      0.536247
pulse                 819.708775
respiratory_rate      311.248328
dtype: float64

In [98]:
print('Квартили')
df_horse[['rectal_temperature','pulse', 'respiratory_rate']].quantile([0.25, 0.5, 0.75])
#0.5 кваtтиль соответсвует медиане

Квартили

      rectal_temperature  pulse  respiratory_rate
0.25                37.8   48.0              18.5
0.50                38.2   64.0              24.5
0.75                38.5   88.0              36.0

In [99]:
print('Межквартильные размахи')
df_horse[['rectal_temperature','pulse', 'respiratory_rate']].quantile(0.75) - df_horse[['rectal_temperature','pulse', 'respiratory_rate']].quantile(0.25)

Межквартильные размахи

rectal_temperature     0.7
pulse                 40.0
respiratory_rate      17.5
dtype: float64

### Выбросы

по условию качественные столбцы могу принимать только определенные значения. все что не входит в заданные значения (кроме пропусков) - выбросы

surgery? - была ли операция

[1, 2]

Age - возраст - столбец

[1, 2]

temperature of extremities - температура конечностей

[1, 2, 3, 4]

pain - боль

[1, 2, 3, 4, 5]

outcome - итог что в итоге случилось с лошадью?

[1, 2, 3]

In [100]:
df_horse[(~df_horse['surgery'].isna()) & (df_horse['surgery'] != 1) & (df_horse['surgery'] != 2)]

Empty DataFrame
Columns: [surgery, Age, rectal_temperature, pulse, respiratory_rate, temperature_of_extremities, pain, outcome]
Index: []

получили пустой датафрейм - значит выбросов по столбцу surgery нет

In [101]:
df_horse[(~df_horse['Age'].isna()) & (~df_horse['Age'].isin([1, 2]))]

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
9,2.0,9,38.3,90.0,NaN,1.0,5.0,1.0
13,2.0,9,38.0,92.0,28.0,1.0,1.0,2.0
16,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
23,1.0,9,38.3,130.0,60.0,NaN,2.0,1.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
55,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
74,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
75,1.0,9,39.7,100.0,NaN,3.0,2.0,3.0
82,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
103,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
109,1.0,9,38.4,84.0,40.0,3.0,3.0,2.0
135,1.0,9,38.1,136.0,48.0,3.0,5.0,2.0
191,2.0,9,NaN,100.0,44.0,2.0,4.0,1.0
212,1.0,9,38.9,120.0,30.0,1.0,3.0,1.0
227,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
229,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
244,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
252,1.0,9,38.8,124.0,36.0,3.0,2.0,2.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
262,2.0,9,38.6,88.0,28.0,NaN,NaN,1.0
275,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0
287,2.0,9,39.5,84.0,30.0,NaN,NaN,1.0

In [102]:
len(df_horse[(~df_horse['Age'].isna()) & (~df_horse['Age'].isin([1, 2]))])

24

24 значения возраста = 9, такая категория не предусмотрена условиями (скорее цифра похожа на возраст, чем на категорию возраста)

In [103]:
df_horse[(~df_horse['temperature_of_extremities'].isna()) & (~df_horse['temperature_of_extremities'].isin([1, 2, 3, 4]))]

Empty DataFrame
Columns: [surgery, Age, rectal_temperature, pulse, respiratory_rate, temperature_of_extremities, pain, outcome]
Index: []

по столбцу temperature_of_extremities выбросов нет

In [104]:
df_horse[(~df_horse['pain'].isna()) & (~df_horse['pain'].isin([1, 2, 3, 4, 5]))]

Empty DataFrame
Columns: [surgery, Age, rectal_temperature, pulse, respiratory_rate, temperature_of_extremities, pain, outcome]
Index: []

по столбцу pain выбросов нет

In [105]:
df_horse[(~df_horse['outcome'].isna()) & (~df_horse['outcome'].isin([1, 2, 3]))]

Empty DataFrame
Columns: [surgery, Age, rectal_temperature, pulse, respiratory_rate, temperature_of_extremities, pain, outcome]
Index: []

по столбцу outcome выбросов нет

По количесвтвенным стобцам прменяем принцип
- меньше, чем 0,25 квартиль минус 1,5 межквартильного размаха
- больше, чем 0,75 квартиль плюс 1,5 межквартильного размаха

In [106]:
q1_rectal_temperature = df_horse['rectal_temperature'].quantile(0.25)
q3_rectal_temperature = df_horse['rectal_temperature'].quantile(0.75)
iqr_rectal_temperature = q3_rectal_temperature - q1_rectal_temperature
lower_bound_rectal_temperature = q1_rectal_temperature - (1.5 * iqr_rectal_temperature)
upper_bound_rectal_temperature = q3_rectal_temperature + (1.5 * iqr_rectal_temperature)
df_horse[(~df_horse['rectal_temperature'].isna()) & (~df_horse['rectal_temperature'].between(lower_bound_rectal_temperature, upper_bound_rectal_temperature, inclusive=True))]

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
20,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
44,1.0,1,35.4,140.0,24.0,3.0,4.0,3.0
54,2.0,1,40.3,114.0,36.0,3.0,2.0,3.0
75,1.0,9,39.7,100.0,NaN,3.0,2.0,3.0
80,1.0,1,36.4,98.0,35.0,3.0,4.0,2.0
91,2.0,1,40.3,114.0,36.0,3.0,2.0,2.0
99,2.0,1,39.6,108.0,51.0,3.0,2.0,1.0
118,1.0,1,36.5,78.0,30.0,1.0,5.0,1.0
141,2.0,1,36.0,42.0,30.0,NaN,NaN,2.0
238,2.0,1,36.1,88.0,NaN,3.0,3.0,3.0
251,2.0,1,36.6,42.0,18.0,3.0,1.0,2.0
259,1.0,1,40.8,72.0,42.0,3.0,2.0,2.0
281,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0

In [107]:
q1_pulse = df_horse['pulse'].quantile(0.25)
q3_pulse = df_horse['pulse'].quantile(0.75)
iqr_pulse = q3_pulse - q1_pulse
lower_bound_pulse = q1_pulse - (1.5 * iqr_pulse)
upper_bound_pulse = q3_pulse + (1.5 * iqr_pulse)
df_horse[(~df_horse['pulse'].isna()) & (~df_horse['pulse'].between(lower_bound_pulse, upper_bound_pulse, inclusive=True))]

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
55,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0

In [108]:
q1_respiratory_rate = df_horse['respiratory_rate'].quantile(0.25)
q3_respiratory_rate = df_horse['respiratory_rate'].quantile(0.75)
iqr_respiratory_rate = q3_respiratory_rate - q1_respiratory_rate
lower_bound_respiratory_rate = q1_respiratory_rate - (1.5 * iqr_respiratory_rate)
upper_bound_respiratory_rate = q3_respiratory_rate + (1.5 * iqr_respiratory_rate)
df_horse[(~df_horse['respiratory_rate'].isna()) & (~df_horse['respiratory_rate'].between(lower_bound_respiratory_rate, upper_bound_respiratory_rate, inclusive=True))]

,surgery,Age,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,pain,outcome
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
39,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
82,1.0,9,38.1,100.0,80.0,3.0,3.0,1.0
84,1.0,1,37.8,60.0,80.0,1.0,2.0,1.0
103,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
106,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
120,1.0,1,39.4,54.0,66.0,1.0,2.0,1.0
125,1.0,1,38.0,42.0,68.0,4.0,3.0,1.0
186,1.0,1,39.3,64.0,90.0,2.0,NaN,1.0
208,1.0,1,37.8,88.0,80.0,3.0,NaN,3.0
229,1.0,9,38.5,120.0,70.0,NaN,NaN,1.0
244,1.0,9,38.2,124.0,88.0,1.0,2.0,1.0
255,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
265,2.0,1,NaN,56.0,68.0,3.0,3.0,3.0
269,1.0,1,39.3,64.0,90.0,2.0,NaN,1.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

### Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

считаем количество пропусков

In [109]:
df_horse.isna().sum()

surgery                        1
Age                            0
rectal_temperature            60
pulse                         24
respiratory_rate              58
temperature_of_extremities    56
pain                          55
outcome                        1
dtype: int64

In [110]:
df_horse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal_temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory_rate            242 non-null    float64
 5   temperature_of_extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

столбец surgery - если rectal_temperature повышенная (больше 37,8) считаем, что операция была, иначе операции не было

In [115]:
df_horse.loc[(df_horse['surgery'].isna()) & (df_horse['rectal_temperature'] > 37.8), 'surgery'] = 1
df_horse.loc[(df_horse['surgery'].isna()) & (df_horse['rectal_temperature'] <= 37.8), 'surgery'] = 2

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

столбец Age - пропусков нет

столбец rectal_temperature - медиана  с группировкой по наличию операции

In [124]:
df_horse['rectal_temperature'] = df_horse['rectal_temperature'].fillna(df_horse.groupby('surgery')['rectal_temperature'].transform('median'))

<ipython-input-124-1e4df6f92842>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_horse['rectal_temperature'] = df_horse['rectal_temperature'].fillna(df_horse.groupby('surgery')['rectal_temperature'].transform('median'))

pulse - медиана с группировкой по операции

In [125]:
df_horse['pulse'] = df_horse['pulse'].fillna(df_horse.groupby('surgery')['pulse'].transform('median'))

<ipython-input-125-31fc3039615e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_horse['pulse'] = df_horse['pulse'].fillna(df_horse.groupby('surgery')['pulse'].transform('median'))

respiratory_rate - медиана

In [126]:
df_horse['respiratory_rate'] = df_horse['respiratory_rate'].fillna(df_horse['respiratory_rate'].median())

<ipython-input-126-d0ab300e233d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_horse['respiratory_rate'] = df_horse['respiratory_rate'].fillna(df_horse['respiratory_rate'].median())

temperature_of_extremities - если температура выше нормы, то 2 - теплый, иначе берем частоту

In [130]:
df_horse.loc[(df_horse['temperature_of_extremities'].isna()) & (df_horse['rectal_temperature'] > 37.8), 'temperature_of_extremities'] = 2

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [131]:
df_horse['temperature_of_extremities'].value_counts()

3.0    109
1.0     78
2.0     70
4.0     27
Name: temperature_of_extremities, dtype: int64

In [146]:
df_horse['temperature_of_extremities'] = df_horse['temperature_of_extremities'].fillna(df_horse['temperature_of_extremities'].mode()[0])

<ipython-input-146-bf8ec1a4e32f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_horse['temperature_of_extremities'] = df_horse['temperature_of_extremities'].fillna(df_horse['temperature_of_extremities'].mode()[0])

pain - частота

In [148]:
df_horse['pain'] = df_horse['pain'].fillna(df_horse['pain'].mode()[0])

<ipython-input-148-4cad0255e43c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_horse['pain'] = df_horse['pain'].fillna(df_horse['pain'].mode()[0])

In [ ]:
outcome - частота

In [149]:
df_horse['outcome'] = df_horse['outcome'].fillna(df_horse['outcome'].mode()[0])

<ipython-input-149-e2b84ee22483>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_horse['outcome'] = df_horse['outcome'].fillna(df_horse['outcome'].mode()[0])

In [154]:
df_horse.isna().sum()

surgery                       0
Age                           0
rectal_temperature            0
pulse                         0
respiratory_rate              0
temperature_of_extremities    0
pain                          0
outcome                       0
dtype: int64