# Домашнее задание «Библиотека Pandas»

In [2]:
import pandas as pd

## Задание 1
Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [3]:
%%time

df = pd.read_csv('ratings.csv') #533 Mb

Wall time: 7.46 s

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 610.4 MB

In [5]:
df.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [45]:
df[ df['rating'] == 5 ]['movieId'].value_counts().head(1) 
# отфильтровал рейнтинг = 5, далее посчитал, как часто ID фильма встречается в оставшейся выборке
# получили, что фильм с ID = 318 встречается максимальное количество раз (31896 раз)

318    31896
Name: movieId, dtype: int64

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [23]:
power_df = pd.read_csv('power.csv')

In [25]:
power_df.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [43]:
power_df[ 
    ((power_df['country'] == 'Lithuania') | (power_df['country'] == 'Latvia') | (power_df['country'] == 'Estonia')) &
    ((power_df['category'] == 4) | (power_df['category'] == 12) | (power_df['category'] == 21)) &
    (power_df['quantity'] >= 0)
]['quantity'].sum()
# делаем сложную фильтрацию, в получившейся выборке считаем сумму по столбцу quantity

970728.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
www.finanz.ru...om-vremeni

In [56]:
url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'

In [71]:
df_url = pd.read_html(url, encoding='utf-8') # записываем в переменную список из датафрэймов
df_url[1].head()

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,1088249,-,1096856,"-0,78%",-08607,17:57:00
1,NaN,EUR/RUB,919831,-,1446655,"-36,42%",-526824,17:58:00
2,NaN,USD/RUB,824500,-,835000,"-1,26%",-10501,17:58:00
3,NaN,JPY/RUB,06810,-,06852,"-0,61%",-00042,17:58:00
4,NaN,CNY/RUB,130450,-,131544,"-0,83%",-01094,17:57:00

In [72]:
df_url[1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           0 non-null      float64
 1   Рубль                36 non-null     object
 2   Предложение          36 non-null     object
 3   Спрос                36 non-null     object
 4   Предыдущее закрытие  36 non-null     object
 5   %                    36 non-null     object
 6   Абсолютное значение  36 non-null     object
 7   Время                36 non-null     object
dtypes: float64(1), object(7)
memory usage: 2.4+ KB

In [66]:
type(df_url)

list

In [67]:
len(df_url) # в списке 3 таблицы

3