In [1]:
import pandas as pd

In [19]:
df = pd.read_csv('Data Sample (AIC) для итоговой работы (new) - Online Retail.csv')

In [20]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/19 8:26,"3,39",17850.0,United Kingdom
1,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/19 8:34,"1,69",13047.0,United Kingdom
2,536367,21755,LOVE BUILDING BLOCK WORD,3,12/1/19 8:34,"5,95",13047.0,United Kingdom
3,536368,22914,BLUE COAT RACK PARIS FASHION,3,12/1/19 8:34,"4,95",13047.0,United Kingdom
4,536373,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/19 9:02,"2,75",17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
54209,581585,84832,ZINC WILLIE WINKIE CANDLE STICK,24,12/9/20 12:31,"0,85",15804.0,United Kingdom
54210,581585,23084,RABBIT NIGHT LIGHT,12,12/9/20 12:31,"2,08",15804.0,United Kingdom
54211,581585,84692,BOX OF 24 COCKTAIL PARASOLS,25,12/9/20 12:31,"0,42",15804.0,United Kingdom
54212,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/20 12:50,"1,95",12680.0,France
54213,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/20 12:50,"4,15",12680.0,France

In [23]:
df.describe()

           Quantity    CustomerID
count  54214.000000  40643.000000
mean       9.610802  15283.422803
std       57.358422   1707.982278
min    -9600.000000  12347.000000
25%        1.000000  13969.000000
50%        3.000000  15152.000000
75%       10.000000  16775.000000
max     2400.000000  18287.000000

In [24]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [ ]:
['Номер счета-фактуры', 'Код товара', 'Описание', 'Количество', 'Дата выставления счета',
'Цена единицы измерения', 'Идентификатор клиента', 'Страна'],

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54214 entries, 0 to 54213
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    54214 non-null  object
 1   StockCode    54214 non-null  object
 2   Description  54080 non-null  object
 3   Quantity     54214 non-null  int64
 4   InvoiceDate  54214 non-null  object
 5   UnitPrice    54214 non-null  object
 6   CustomerID   40643 non-null  float64
 7   Country      54214 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 3.3+ MB

In [26]:
import datetime

In [27]:
date_time_str = '12/9/20 12:31'

In [28]:
date_time_obj = datetime.datetime.strptime(date_time_str, '%d/%m/%y %H:%M')

In [29]:
date_time_obj

datetime.datetime(2020, 9, 12, 12, 31)

In [31]:
df[['InvoiceDate']] = df[[0]].apply( lambda x: datetime.datetime.strptime(x, '%d/%m/%y %H:%M') )

KeyError: "None of [Int64Index([0], dtype='int64')] are in the [columns]"